{% extends "auctions/layout.html" %}

{% block body %}
<h2>Category List for {{ category }}</h2>
{% for item in category_items %}
{% if item.active %}
<div class="card">
<h3 class="title">{{ item.title }}</h3>
<h4 class="description">{{ item.description }}</h4>
<h4 class="price">Price: ${{ item.starting_bid }}</h4>
<img src="{{ item.image_url }}" alt="{{ item.title }}" /><br/>

<a href="{% url 'listing' item.id %}" class="btn btn-info">View Item</a>

<p class="timestamp">Created: {{ item.date_created}}</p>
</div>
{% else %}
<h2>No active listings</h2>
{% endif %}
{% endfor %}
{% endblock body %}